<!--include Header-->
<%- include('include/_headerPago')%>
<!--/include Header-->

<!--Pago-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> Lista de citas</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Agregar Tarjeta</h2>
            <span class="text-light">Usa el formulario de abajo para agergar método de pago</span>
        </div>

        <!--add cita form-->
        <%- include('include/_formPago')%>

    </div>
</main>
<!--/Pago-->

<!--include Footer-->
<%- include('include/_footer')%>
<!--/include Footer-->